a {
  color: inherit;
  text-decoration: none;
}

.App-header {
  height: 82px;
  background-color: #fff;
}

.content,
.header-inner {
  max-width: 720px;
  margin: 0 auto;
}

.page-header {
  display: block;
  width: 100%;
  height: 41px;
  background-color: #fff;
}

.page-header > h1 {
  display: block;
  float: left;
  line-height: 1rem;
}

.page-header > h1 > a {
  width: 86px;
  padding: 12px 0 0 16px;
  display: inline-block;
  height: 41px;
}

.icon {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: top;
}

.icon.icon-ddocdoc-bi:before {
  background-position: -45px -458.6666666666667px;
  width: 58px;
  height: 21px;
}

.icon:before {
  content: " ";
  display: block;
  background-image: url(./sprite.png);
  background-size: 658.3333333333334px 555.6666666666666px;
}

.menu-header {
  background-color: #fff;
}

.menu-header > ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-header-item {
  display: inline-block;
  position: relative;
}

.menu-header-item:first-child a {
  padding-left: 16px;
}

.menu-header-item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 41px;
  padding-top: 2px;
  color: #666;
  height: 41px;
  font-size: 20px;
  padding-left: 2em;
  padding-right: 2em;
}

@media screen and (max-width: 719px) {
  .menu-header-item a {
    height: 41px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.new-items-icon {
  position: absolute;
  top: 30%;
  right: 80%;
}

.icon.icon-curation-new-badge:before {
  background-position: -310px -458.6666666666667px;
  width: 16px;
  height: 16px;
}

.menu-header-active-item > div > a {
  color: red;
}

.red-point {
  display: inline-block;
  position: relative;
}

.red-point::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: red;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: -2px;
}

.page-header-tool-area {
  display: block;
  float: right;
}

.page-header-button {
  display: inline-block;
  height: 41px;
}

.page-header-search,
.page-header-bookmark {
  padding-top: 15px;
  padding-left: 9px;
}

.page-header-search {
  width: 40px;
}

.page-header-bookmark {
  padding-right: 19px;
}

.icon.icon-search:before {
  background-position: -150px -458.6666666666667px;
  width: 19px;
  height: 19px;
}

.icon.icon-heart-empty:before {
  background-position: -104px -458.6666666666667px;
  width: 22px;
  height: 19px;
}

.sr-only {
  display: none;
}

.curation-list-item {
  cursor: pointer;
}

.curation-list-item-link {
  display: block;
  line-height: normal;
}

.fade {
  transition: opacity 0.15s linear;
}

.curation-list-item-link img {
  display: block;
  width: 100%;
}

.curation-list-item-figcaption {
  background: #fff;
  font-size: 12px;
  text-align: left;
}

@media screen and (max-width: 719px) {
  .curation-list-item-figcaption {
    padding: 11px 16px 9px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 720px) {
  .curation-list-item-figcaption {
    padding: 18px 30px 16px;
    border-bottom: 1px solid #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
  }
}

.curation-list-item-heading {
  color: #212529;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (max-width: 719px) {
  .curation-list-item-heading {
    margin-bottom: 5px;
  }
}

.curation-list-item-description {
  margin: 0;
  color: #666;
}

.curation-list-item-description b {
  font-weight: 400;
  color: #ccc;
}

.curation-list-item-premark {
  font-weight: 400;
  color: #f56a6b;
}

.right-bottom-tools {
  display: block;
  position: fixed;
  right: 0;
  bottom: 15px;
}

.right-bottom-tools-top-button {
  width: 36px;
  height: 36px;
  padding: 6px 16px 0;
  box-sizing: content-box;
  display: block;
  background-color: transparent !important;
}

.right-bottom-tools-top-button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  width: 36px;
  height: 36px;
  border: 1px solid #ddd;
}

.icon.icon-top:before {
  background-position: -636px -262.6666666666667px;
  width: 21px;
  height: 20px;
}

.footer {
  max-width: 720px;
  margin: 0 auto;
  padding: 22px 16px;
  background: #f0f0f0;
}

.footer-bi-link {
  margin-bottom: 6px;
}

.icon.icon-ddocdoc-bi-gray:before {
  background-position: -361px -433.6666666666667px;
  width: 48px;
  height: 16px;
}

.footer-link-list {
  line-height: normal;
  font-size: 12px;
}

.footer-link-list li {
  display: inline-block;
  color: #868e95;
}

.footer-link-list li:first-child a {
  padding-left: 0;
}

.footer-link-list a {
  padding: 6px 8px;
}

.footer-copyright {
  font-size: 11px;
  color: #adb5be;
}
