@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);



a {
  color: inherit;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  height: 82px;
  background-color: #fff;
}

.header-inner {
  max-width: 720px;
  margin: 0 auto;
}

.page-header {
  display: block;
  width: 100%;
  height: 41px;
  background-color: #fff;
}

.page-header > h1 {
  display: block;
  float: left;
  line-height: 1rem;
}

.page-header > h1 > a {
  width: 86px;
  padding: 12px 0 0 0;
  display: inline-block;
  height: 41px;
}

.icon {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: top;
}

.icon.icon-ddocdoc-bi:before {
  background-position: -45px -458.6666666666667px;
  width: 58px;
  height: 21px;
}

.icon:before {
  content: " ";
  display: block;
  background-image: url(./sprite.png);
  background-size: 658.3333333333334px 555.6666666666666px;
}

.menu-header {
  background-color: #fff;
}

.menu-header > ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-header-item {
  display: inline-block;
  position: relative;
}

.menu-header-item:first-child a {
  padding-left: 16px;
}


.menu-header-item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 41px;
  padding-top: 2px;
  color: #666;
  height: 41px;
  font-size: 20px;
  padding-left: 2em;
  padding-right: 2em;
}

@media screen and (max-width: 719px) {
  .menu-header-item a {
      height: 41px;
      font-size: 16px;
      padding-left: 16px;
      padding-right: 16px;
  }
}

.new-items-icon {
  position: absolute;
  top: 30%;
  right: 80%;
}

.icon.icon-curation-new-badge:before {
  background-position: -310px -458.6666666666667px;
  width: 16px;
  height: 16px;
}

.menu-header-active-item > div > a {
  color: red;
}

.red-point {
  display: inline-block;
  position: relative;
}

.red-point::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: red;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: -2px;
}

.page-header-tool-area {
  display: block;
  float: right;
}

.page-header-search {
  width: 40px;
}

.page-header-bookmark {
  padding-right: 19px;
}

.page-header-search, .page-header-bookmark {
  padding-top: 15px;
  padding-left: 9px;
}

.page-header-button {
  display: inline-block;
  height: 41px;
}

.icon.icon-search:before {
  background-position: -150px -458.6666666666667px;
  width: 19px;
  height: 19px;
}

.icon.icon-heart-empty:before {
  background-position: -104px -458.6666666666667px;
  width: 22px;
  height: 19px;
}

.sr-only {
  display: none;
}