* {
  box-sizing: border-box;
  font-family: Spoqa Han Sans,Spoqa Han Sans JP,"Sans-serif",AppleSDGothicNeo-Regular,Malgun Gothic,"\B9D1\C740 \ACE0\B515",dotum,돋움!important;
}

body, figcaption, figure, h1, h2, h3, h4, h5, h6, ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: #f0f0f0;
  list-style: none;
  padding: 0;
  margin: 0;
}
